body{
   /*
    background:#ddd;
    font-family:Georgia;
    font-size: 34px;
    font-style: italic;
    letter-spacing:-1px;
    width:12000px;
    position:absolute;
    top:0px;
    left:0px;
    bottom:0px;
    */
    
    /*
    overflow-x: scroll;
    overflow-y: hidden;
    */
    
    overflow: hidden;
    overflow-x: scroll;
}


/**************** Font ************/
*{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.4;
    line-height: 150%;
}
.h1, h1 {
    font-weight: 300;
    color: #563D76;
}
.h2, .h3, .h4, 
 h2,  h3, h4 {
    font-weight: 200;
    font-weight: 300;
    color: #563D76;
}




/**************** Layout general ************/
.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 30px;
    margin-bottom: 20px;
}

.h1, h1 {
    border-bottom: 1px solid #eee;
    padding-bottom: 24px;
    margin-bottom: 24px;
}

p {
    margin: 0px 0px 15px;
}

p.abstract{
    margin-bottom: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #eee;
    font-weight: 200;
    font-size: 22px;
    line-height: 1.5;
    line-height: 130%;
}


.shinypage{
    margin:0px;
    bottom:0px;
    width: 1200px;
    float:left;
    height:100%;
}

.pagecontent{
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.page-top{
    height: 0px;
}
.shiny_container{
    width: 100%;
}
.max-height-pg{
    max-height: 100%;
}
.pagecontent{
    overflow-x: hidden;
    overflow-y: auto;
}

.second_col_top{
    height: 36px;
    height: 62px;
}
.fact-box{
    background: #EBEBEB;
    padding: 20px;
}

/**************** header ************/
.headerlogo{
    height: 40px;
    background: url(../../images/logo.png);
    background-position: right center;
    background-size: contain;
    background-repeat: no-repeat;
}
.pageheader {
    padding: 10px 0;
}
.pageheader .headerlogo {
    display: table;
    float: right;
}
.pageheader .headerlogo a {
    /*
    width: 180px;
    height: 50px;
    */
    width: 230px;
    height: 60px;
    display: block;
    text-decoration: none;
}

/*
.navbar-header{
    height: 60px;
    position: relative;
    clear: both;
    display: block;
}
.navbar-nav {
    float: none;
}
.........................................

*/

.fixed-nav{
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1030;
}
.mainnav{
    display: block;
    width: 15%;
    /*
    -webkit-border-radius: 7px;
       -moz-border-radius: 7px;
            border-radius: 7px;
    */
    background: rgba( 255, 255, 255, .5 );
    text-align: center;
    
    overflow-y: auto;
}

.shiny-nav-toggle{
    display: block;
}
    .navbar-toggle {
        display: none;
    }
.sitelogo{
    display: none;
    padding: 0 0 6px 0;
}
.sitelogo img{
    max-width: 100%;
    height: auto;
}

    .nav > li > a > img {
        max-width: 100%;
    }

.topbanner img{
	max-width: 100%;
	height: auto;
}


#home .imagebg{
    background: url(../../images/banners/101.jpg?a);
    background-position: center center;
    background-size: cover;
}
#stroy_one .imagebg{
    background: url(../../images/banners/102.jpg);
    background-position: center center;
    background-size: cover;
}
#stroy_two .imagebg{
    background: url(../../images/banners/103.jpg);
    background-position: center center;
    background-size: cover;
}
#stroy_thr .imagebg{
    background: url(../../images/banners/104.jpg);
    background-position: center center;
    background-size: cover;
}
#stroy_fou .imagebg{
    background: url(../../images/banners/105.jpg);
    background-position: center center;
    background-size: cover;
}
#stroy_fiv .imagebg{
    background: url(../../images/banners/106.jpg);
    background-position: center center;
    background-size: cover;
}
#stroy_six .imagebg{
    background: url(../../images/banners/107.jpg);
    background-position: center center;
    background-size: cover;
}
#about .imagebg{
    background: url(../../images/banners/y.jpg);
    background-position: center center;
    background-size: cover;
}
#contact .imagebg{
    background: url(../../images/banners/z.jpg);
    background-position: center center;
    background-size: cover;
}



.navbar-toggle {
    background: #fff;
    border: 1px solid #222;
}
.navbar-toggle .icon-bar{
    background: #222;
}

inpage-nav .nav{ 
    width: 100%; 
}


.inpage-nav .nav li{ 
    float: left;
    margin-right: 10px;
    width: 140px;
}


.inpage-nav header{ 
    display: table;
    float: none;
    margin: 0 auto;
    width: 452px;
}

.inpage-nav .navwrapper{ 
    display: table;
    float: none;
    margin: 0 auto;
}
.inpage-nav .nav{ 
    display: table;
    float: none;
    margin: 0 auto;
}
    

.nav > li {
    text-align: center;
   
}


.nav > li.homelink {
    margin-top: 10px;
    margin-bottom: 40px;
} 
.nav > li.homelink > a {
    line-height: 36px;
}
.nav > li.nav-itm {
    /* max-width: 140px; */
    max-width: 130px; /* 2015.06.23 */
    /*
    margin: 0 auto 8px auto;
    */
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.nav > li.nav-itm > a {
    padding: 16px 10px 14px 10px;

    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    color: #fff;
    /* text-shadow: 0px 0px 7px rgba(0, 0, 0, .8); */
    
    color: transparent;
    ___min-height: 76px;
    background: transparent;
}
.nav > li.nav-itm > a div {
    font-weight: 800;
    font-size: 20px;
    line-height: 23px;
    line-height: 16px;
    text-align: center;
}
.nav > li.nav-itm.about a,
.nav > li.nav-itm.contact a{
    color: #fff;
}
.nav > li.nav-itm > a:hover {
    color: #000;
    text-shadow: 0px 0px 6px rgba( 255, 255, 255, 1);
    background: rgba( 255, 255, 255, .85 );

    /*
    color: #fff;
    background: rgba( 0, 0, 0, .9 );
    text-shadow: 0px 0px 6px rgba( 0, 0, 0, 1);
    */
}
.nav > li > a:active,
.nav > li > a:focus {
    background: transparent;
}

.nav > li.nav-itm span {
  display: block;
}

.nav > li.nav-itm.singleline div {
    line-height: 38px;
}
.nav > li.nav-itm div {
    height: 38px;
}






.nav > li.homelink {
    background: url(../../images/logo.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}
.nav > li.homelink a:hover{
    background: transparent;
}
.nav > li.nav-itm.stroy_one{
    background: #DC0013 url(../../images/nav-yoomee.png);
}
.nav > li.nav-itm.stroy_two{
    background: #DC0013 url(../../images/nav-yoomee.png);
}
.nav > li.nav-itm.stroy_thr{
    background: #6EB63D url(../../images/nav-dj.png);
}
.nav > li.nav-itm.stroy_fou{
    background: #038939 url(../../images/nav-mobil-data.png);
}
.nav > li.nav-itm.about{
    background: #3F3F3F url(../../images/y.png);
}
.nav > li.nav-itm.contact{
    background: #3F3F3F url(../../images/y.png);
    color: #fff;
}




.nav > li.homelink ,
.nav > li.nav-itm.stroy_one,
.nav > li.nav-itm.stroy_two,
.nav > li.nav-itm.stroy_thr,
.nav > li.nav-itm.stroy_fou,
.nav > li.nav-itm.story_fiv,
.nav > li.nav-itm.story_six,
.nav > li.nav-itm.about,
.nav > li.nav-itm.contact{
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}
.footerednav nav{
    padding-top: 24px;
    padding-bottom: 24px;
}




/***************** content *************/
.content-left-col img {
    max-width: 100%;
    height: auto;
}

.content-left-col ul {
    margin-bottom: 10px;
    /*
    padding-left: 17px;
    */
}

.content-left-col ul li{
    /* padding-left: 5px; */
    margin-bottom: 10px;
}
.topbanner {
    max-width: 380px;
}

.contcol{
    -webkit-column-count:2;
    -moz-column-count:2;
    column-count:2;
}




















@media (min-width: 768px) {
    .mobilenav{
        display: none !important;
    }
    body{
        margin-top: 1px;
    }
}
@media (min-width: 700px) and (max-width: 1000px) {
    .nav > li.nav-itm > a {
        padding: 10px 10px 7px 10px;
    }
    .nav > li.nav-itm > a div {
        font-weight: 800;
        font-size: 22px;
        line-height: 16px;
        
        font-size: 16px;
        line-height: 16px;
    }
    .nav > li.nav-itm span {
        font-size: 14px;
        line-height: 150%;
    }

}

@media (max-width: 767px) {
    *{
        font-size: 13px;
        line-height: 1.4;
    }
    p.abstract{
        font-size: 19px;
    }
    .h1, h1 {
        font-size: 30px;
        /* 
        word-break: break-all;
        */
    }
    .h2, h2 {
        font-size: 22px;
        /* 
        word-break: break-all;
        */
    }
    body{
        overflow: auto;
        /* margin-top: 50px; */
    }
    .shinypage {
        /* padding-top: 50px; */
    }
    .pageheader {
        padding: 30px 0;
    }
    /************* Nav **********/
    .mainnav{
        right: 0;
        width: 100%;
        background: rgba(255, 255, 255, 0.9) none repeat scroll 0% 0%;
        border-bottom: 1px solid #ddd;
    }
    #main-nav nav.open {
        -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow:    0px 0px 7px 0px rgba(0, 0, 0, 0.75);
        box-shadow:         0px 0px 7px 0px rgba(0, 0, 0, 0.75);
    }
 
    .inpage .shiny-nav-toggle.hidden-sm{
        display: none;
    }
    .sitelogo {
        display: block;
        float: left;
        position: relative;
        height: 50px;
        width: 83%;
        text-align: left;
    }
    .shnav-toggler{
        display: block;
        float: right;
    }
    .navbar-toggle {
        display: block;
        margin-right: 0;
    }
    .footerednav{
       
    }
    #main-nav nav .navwrapper{
        display: none;
    }
    #main-nav nav.open .navwrapper{
        display: block;
    }

    .nav li.homelink{ 
        display: none; 
    }
    
    
    .sitelogo-wrapper{
        display: none; 
    }


                        /** Make : wide */
                        body {
                            
                        }
                        .mobilenav{
                            display: block;
                            width: 100%;
                        }

                        .mainnav{
                            /* width: 100%; */
                            position: fixed;
                        }
                        .fixed-nav {
                            top: 0;
                            right: inherit;
                        }
                        .navbar-toggle {
                            margin-right: 15px;
                            margin-top: 20px;
                        }
                        .sitelogo{
                            padding-left: 15px;
                            width: 80%;
                        }
                        .sitelogo img{
                            max-width: 180px;
                            margin-top: 7px;
                        }

    .pagecontent{
        overflow-x: inherit;
        overflow-y: visible;
        height: auto;
    }
}
@media (max-width: 470px) {
    .inpage-nav header{
        width: 302px;
    }
}
@media (max-width: 400px) {
    .pageheader {
        padding: 15px 0;
    }
    .contcol{
        -webkit-column-count:1;
        -moz-column-count:1;
        column-count:1;
    }
}

.busy{
    position: fixed;
    left: 20px;
    bottom: 30px;
    border: 1px dotted blue;
    color: #fff;
    background: #333;
}
#progresss{
    position: fixed;
    left: 50px;
    bottom: 30px;
    border: 1px dotted blue;
    color: #fff;
    background: #333;
}





